* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Dyslexie, Tahoma, sans-serif;
  }

.logo {
    max-width: 280px;
    padding: 10px 0 1px 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

